.project-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.project-photos img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 0 4px 10px darkgray;
}

.resume-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(76, 133, 240);
    color: white !important;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.resume-button:hover {
    background-color: rgb(109, 204, 233);
    transform: scale(1.05);
    text-decoration: none;
}
